{% extends 'base.html.twig' %}

{% block page_title 'Movies' %}
{% block page_subtitle 'from opensubtitles' %}

{% block body %}
<div class="example-wrapper">

    This friendly message is coming from:
    <ul>
        <li><a href="{{ path('app_browse') }}">Browse Movies</a></li>
    </ul>

    <div class="container">
        {% set currentYear = "now"|date("Y") %}
        <h2>Movies</h2>

        {% set _sc = 'search' %}
        <div {{ stimulus_controller('search', {
            start_year: 1920,
            end_year: 2022,
            q: '',
            endpoint: path('app_search')
        }) }}>
            {#            <div {{ stimulus_target(_sc, 'slider') }} class="range-slider-1"></div> #}
            <div {{ stimulus_target(_sc, 'slider') }}></div>

            {#            </div> #}
            {#            <div {{ stimulus_target('results') }}> #}
            {#                Results here. #}
            {#            </div> #}


            <form class="form-inline" action="{{ path('app_homepage') }}">
                <input type="text" id="q" name="q" placeholder="search" {{ stimulus_target(_sc, 'q')}} />
                <div class="form-group">
                    <label for="startYear">From Year:</label>
                    <input name="startYear" id="startYear" value="1962" class="d-nonex">
                </div>
                <div class="form-group">
                    <label for="endYear">To Year:</label>
                    <input name="endYear" id="endYear" value="1980" type="hiddenx">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
            <div {{ stimulus_target(_sc, 'results') }}>
                {{ include('app/_movies.html.twig', {movies: movies}) }}

            </div>
        </div>

    </div>
    {% endblock %}
