{% extends 'base.html.twig' %}

{% block page_title 'Movies' %}
{% block page_subtitle 'from opensubtitles' %}

{% block body %}
    <div class="example-wrapper">

        This friendly message is coming from:
        <ul>
            <li><a href="{{ path('app_browse') }}">Browse Movies with Doctrine/Datatables</a></li>
        </ul>

        <div class="container">
            <h2>Movies, using Meilisearch</h2>
            {% form_theme form 'bootstrap_4_layout.html.twig' %}

            {{ form_start(form, {attr : {"method": "GET"}}) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_row(form.search) }}
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="form-group">
                            {{ form_row(form.type) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_row(form.from_year) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_row(form.to_year) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_row(form.sortby) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_row(form.direction) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <br>
                            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                            {{ form_widget(form.reset, {'attr': {'class': 'btn btn-danger', 'onclick' : 'document.forms.movie_search.submit()'}}) }}
                        </div>
                    </div>
                </div>            
            {{ form_end(form) }}

            <div class="container">
                {{ include('app/_meili_movies.html.twig', {movies: movies}) }}
            </div>
        </div>
    </div>
{% endblock %}
